{% extends "layout.njk" %}

{% block styles %}
<link rel="stylesheet" href="/src/css/components/card.css">
{% endblock %}

{% block content %}
 <!-- CARDS -->
    <section class="section__receitas">
        <section class="cards">
            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/pizza.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Pizza 4 estações</a>
                    <a href="#" class="card__author">por Fabiana Melo</a>
                </div>
            </div>
    
            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/espaguete.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Espaguete ao alho</a>
                    <a href="#" class="card__author">por Júlia Kinoto</a>
                </div>
            </div>

            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/lasanha.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Lasanha mac n’ cheese</a>
                    <a href="#" class="card__author">por Juliano Vieira</a>
                </div>
            </div>

            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/doce.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Docinhos pão-do-céu</a>
                    <a href="#" class="card__author">por Fabiana Melo</a>
                </div>
            </div>

            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/asinhas.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Asinhas de frango ao barbecue</a>
                    <a href="#" class="card__author">por Vania Steroski</a>
                </div>
            </div>

            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/burger.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Triplo bacon burger</a>
                    <a href="#" class="card__author">por Jorge Relato</a>
                </div>
            </div>

             <!-- === CARD === -->
             <div class="card">
                <div class="card__image">
                    <img src="/src/images/pizza.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Pizza 4 estações</a>
                    <a href="#" class="card__author">por Fabiana Melo</a>
                </div>
            </div>
    
            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/espaguete.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Espaguete ao alho</a>
                    <a href="#" class="card__author">por Júlia Kinoto</a>
                </div>
            </div>

            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/lasanha.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Lasanha mac n’ cheese</a>
                    <a href="#" class="card__author">por Juliano Vieira</a>
                </div>
            </div>

            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/doce.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Docinhos pão-do-céu</a>
                    <a href="#" class="card__author">por Fabiana Melo</a>
                </div>
            </div>

            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/asinhas.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Asinhas de frango ao barbecue</a>
                    <a href="#" class="card__author">por Vania Steroski</a>
                </div>
            </div>

            <!-- === CARD === -->
            <div class="card">
                <div class="card__image">
                    <img src="/src/images/burger.png" alt="">
                </div>
                <div class="card__content">
                    <a href="#" class="card__title">Triplo bacon burger</a>
                    <a href="#" class="card__author">por Jorge Relato</a>
                </div>
            </div>
        </section>

        <div class="section__modal">
            <div class="modal__container">
                
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
<script src="src/js/modal.js"></script>
{% endblock %}
